*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
  
}


.unordered-list-header{
display: grid;
grid-auto-flow: column;
background-color:  #313132;
height:35px;
align-items: center;
list-style: none;
color:#a3a3a3;
padding:0px 300px ;
font-family:"SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

}

.unordered-list-header li a{
    font-size:13px;
    color:#b6b6b7;
    text-decoration: none;
}

.unordered-list-header li a:hover{
    color:#e2e2e7;
}

.header-2{
    background-color:#f5f5f7;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    padding:0px 530px;

}

.header-2-link{
    text-decoration: none;
    color:#5396db;
}

.header-3{
background-color:#f5f5f7 ;


}

.header-3-text{
    text-align: center;
padding-top:20px;
padding-bottom:10px;
}

.header-link-3{
    text-decoration: none;
    
}

section{
    padding-top:40px;

}

.section-text-header{
    text-align: center;
    padding-bottom: 20px;
}

.six-photos{
   display:grid;
   grid-template-columns: 1fr 1fr;
   margin-top:30px;
}


footer{
    background-color: #f5f5f7;
}

.footer-top{
  
    color:#8d8d92;
    padding:30px 300px 0px 300px;
    font-size: 12px;
}

hr{
    padding-top:30px;
    opacity: 0.23;
}

.footer-middle{
    display:grid;
    grid-auto-flow: column;
    padding:30px 300px 0px 300px;
}

ul{
    list-style: none;
    
}

ul p{
    color:#454547;
    padding-bottom:8px;
}

ul li{
    font-size: 15px;
    padding-bottom:6.5px;
    color:#8b8b8e;
    
}