*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
  
}


.unordered-list-header{
display: grid;
grid-auto-flow: column;
background-color:  #313132;
height:35px;
align-items: center;
list-style: none;
color:#a3a3a3;
padding:0px 300px ;
font-family:"SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

}

.unordered-list-header li a{
    font-size:13px;
    color:#b6b6b7;
    text-decoration: none;
}

.unordered-list-header li a:hover{
    color:#e2e2e7;
}

.header-2{
    background-color:#fff;
    text-align:center;
    height:50px;
   padding-top:14px;
}


.section-1 {
    background-color: #f5f5f7;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:50px 0px 0px 360px

}

.section-1-chat{
    display: grid;
grid-template-columns:auto 1fr;
padding-top:30px;

}

.section-1-text h1{
    font-size:50px;
}
.section-1-text strong{
    color:grey;
}

.section-1-chat{
    padding-left:60px;
}

.section-1-chat-photo img{
    border-radius:50px;
}

.section-1-chat-text-first a{
    text-decoration: none;
    
}
.section-1-chat-text-first a:hover{
    color:rgb(124, 124, 240);
}

.section-two{
    background-color: #f5f5f7; 
    padding-left:350px;
    padding-top:15px;
   
}

.big-cards{
    background-color: #f5f5f7;
}

.big-cards h1{
    text-align: center;
    padding-top:70px;
    padding-bottom:30px;
}

.big-cards strong{
    color:#707075;
}

.big-cards .first-card{
border:1px ; 
width: 410px;

border-radius: 20px;
background-color:white
}

.big-cards .first-card:hover{
    transform:scale(1.1);
}

.first-card p {
    padding:30px 100px 20px 40px;
    color:#707075;
    /* text-decoration: none; */
}

.big-cards a{
    text-decoration: none;
}

.first-card h4{
    padding:0px 0px 20px 40px;
    font-size:30px;
    color:black;
}

.first-card h6{
    padding:0px 0px 20px 40px;
    font-size:15px;
    color:#707075;
}






.big-cards .second-card{
    border:1px ; 
    width: 410px;
    
    border-radius: 20px;
    background-color:white
    }

    .big-cards .second-card:hover{
        transform: scale(1.1);
        box-shadow: 2px 2px 2px 2px rgb(112, 112, 112);

    }
    
    .second-card p{
        padding:30px 100px 20px 40px;
        color:#707075;
    }
    
    .second-card h4{
        padding:0px 0px 20px 40px;
        font-size:30px;
        color:black;
    }
    
    .second-card h6{
        padding:0px 0px 20px 40px;
        font-size:15px;
        color:#707075;
    }








    .big-cards .third-card{
        border:1px ; 
        width: 410px;
        
        border-radius: 20px;
        background-color:black;
        }

        .big-cards .third-card:hover{
            transform: scale(1.1);
    
        }
        
        .third-card p{
            padding:30px 100px 20px 40px;
            color:white;
        }
        
        .third-card h4{
            padding:0px 0px 20px 40px;
            font-size:30px;
            color:white;
        }
        
        .third-card h6{
            padding:0px 0px 20px 40px;
            font-size:15px;
            color:white;
        }


        .big-cards{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding-top:60px;
        }

.palidhje{
background-color:#f5f5f7;
text-align: center;
padding-top:90px;

}
strong{
    color:#808080;
}







.help-is{
    padding:60px 0px 30px 0px;
    text-align: center;
    background-color:#f5f5f7;
}


.smile-1{
    border:1px ;
    background-color: white;
    border-radius: 20px;
    margin-right:20px;
}

.smile-1 h4{
    padding:30px 0px 30px 10px;
    font-size:30px;
}

.smile{
    display: grid;
    grid-template-columns: 470px 400px;
   background-color :#f5f5f7;
   place-content: center;

}

.smile-2 img{
    border-radius:20px;
}

.smile-1:hover{
    transform: scale(1.1);
}


.smile-2:hover{
transform:scale(1.1);

}

.apple-difference{
    text-align: center;
    padding-top:50px;
    background-color:#f5f5f7; 
}






.four-cards{
    background-color:#f5f5f7; 
    padding-top:50px;


}

.purple-card{
    border:1px solid;
    border-radius:20px;
    width: 330px;
    height: 230px;
    background-color: white;
    border:none;
}

.h3-purple{
    font-size:28px;
}

.purple-card-text{
    color:#ac39ff;
    padding:0px 15px 15px 1px;
}

.material-symbols-outlined  {
    color:#ac39ff;
    padding-top:15px;
    padding-bottom:15px;
}


.green-card{
    border:1px solid;
    border-radius:20px;
    width: 330px;
    height: 230px;
    background-color: white;
    border:none;
}

.green-card-text{
    color:#68cc45;
}

.green-card img{
    color:#68cc45;
    padding-top:25px;
    padding-left:10px;
}

.h3-green{
    font-size:28px;
    padding-top:40px;
    padding-left:20px;
}

.four-cards{
    display:grid;
    grid-auto-flow: column;
}
